.cart-item{
  display: flex;
  width: 88% !important;
  justify-content: space-evenly;
  margin: 10px;
  border: 1px solid #cac1c1;
  border-radius: 10px;
  position: relative;
  flex-wrap: wrap;
}
.close{
  border: none !important;
  /* margin-left: 260px; */
  flex: 1;
  position: absolute;
  right: 10px;

}
.details-cont{
  display: flex;
  flex-direction: column;
  align-items: center;
  /* flex-wrap: wrap; */
  flex: 1;

}

.cart-item:hover{
    transform: scale(1);
  }

  .cart-cont{
        /* margin: auto; */
        width: 50%;
        display: flex;
        flex-direction: column;
        /* margin: 10px; */
        margin-top: 50px;
  
  }
  .img_cont{
    padding: 9px;
    
  }
  .img_cont img{
    width: 167px !important;
    height: 190px !important;
  }
  .price-container{
    /* float: right; */
    /* position: absolute;
    top: 50px;
    right: 381px; */
    padding: 20px;
    height: 15%;
    border: 1px solid #cac1c1;
    border-radius: 10px;

  }
  .cart-div{
    display: flex;
    justify-content: space-around;
   
  }
  .order-summ-cont{
    width: 41%;
    margin-top: 54px;
    height: 48%;
  }
  .price-item-cont{
    display: flex;
    flex-direction: column;
  }
  .price-item{
    display: flex;
    justify-content: space-between;
  }
  .order-btn{
    width:100%;
  }

  .price-item .btn{
    margin-top:60px;
  }