.cart-item{
    display: flex;
    width:88% !important;
    justify-content: center;
    margin: 10px;
}
.close{
    border:none !important;
    margin-left: 260px;

}
.details-cont{
    display: flex;
    flex-direction: column;
}

.cart-item:hover{
    transform: scale(1);
  }

  .cart-cont{
        /* margin: auto; */
        width: 50%;
        display: flex;
        flex-direction: column;
        /* margin: 10px; */
  
  }
  .img_cont{
    margin-right: 100px;
    padding: 9px;
    
  }
  .img_cont img{
    width: 167px !important;
    height: 190px !important;
  }
  .price-container{
    /* float: right; */
    /* position: absolute;
    top: 50px;
    right: 381px; */
    padding: 20px;
    height: 50%;
    border: 1px solid #cac1c1;
    border-radius: 10px;

  }
  .cart-div{
    display: flex;
    justify-content: space-around;
   
  }
  .order-summ-cont{
    width: 41%;
  }
  .price-item-cont{
    display: flex;
    flex-direction: column;
  }
  .price-item{
    display: flex;
    justify-content: space-between;
  }
  .order-btn{
    width:100%;
  }