.category-cont{
    display: flex;
    justify-content: center;
    flex-flow: wrap;
    position: relative;
    width:70%;
    margin:auto;
}

.backcolor{ 
    background-color: antiquewhite;
    margin:10px;
    position: relative;
}

.category-cont a{
    text-decoration: none;
    color: black;
}

.category-cont img{
    height: 400px;
    width: 400px; 

}
.category-caption{
    top: 270px;
 
    width: 379px;
    /* padding: 10px; */
    margin: 10px;
    height: 110px;
    text-align: center;
    background-color: #373432;
    color: white;
    position: absolute;
}

