.order-flex-cont{
    display: flex;
    justify-content: center;
    gap: 100px;
}
.shipping-addr-div{
    width: 37%;
}
.order-price-cont{
    width: 38%;
    height: 50%;
}
.order-det-header{
    padding-left: 20px;
    margin-top: 62px;
}
.allorder-cont{
    display: flex;
    justify-content: center;
    /* width: 61%; */
    flex-direction: column;
    /* width: 88%; */
    align-items: center;
    /* width: 44%; */
    margin-left: 40px;
    margin-top: 40px;

}

.bg-div{
    background-color: #efeaea;
    position: relative;
    width: 50%;
    display: flex;
    gap: -23px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.order-detail-cont{
    width: 93%;
    /* height: 300px; */
    margin: 30px;
    padding: 10px;
    background-color: white;
}

.order-item{
    background-color: #efeaea;
    width:96% !important; 
    align-items: center;
}
.order-detail-cont a{
    text-decoration: none;
    color:black
}
.status-cont-flex{
    display: flex;
    gap:10px;
    align-items: center;
}
.arrow-order-item{
    position: absolute;
    right: 10px;
    color: #968888;
}
.order-filter-cont{
    display: flex;
    width: 50%;
    justify-content: space-between;
    align-items: center;
}

.order-filter-btn{
    border: 1px solid rgb(199, 195, 195);
    margin-bottom: 10px;
    padding: 6px;
    border-radius: 10px;
    width: 16%;
    text-align: center;
    cursor: pointer;
    display: flex;
    justify-content: center;
    gap: 5px;
    align-items: baseline;
}

.order-product-cont{
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    border: 1px solid #e8dede;
    width: 40%;
    margin: auto;
    margin-top: 90px;
    justify-content: center;
}
.prod-item-1{
    border: 1px solid #e8dede;
    padding: 20px;
    width: 97%;
    margin-top: 10px;
    text-align: center;
    background-color: #f1ecec;

}
.prod-item-1 img{
    width: 22%;
    margin-bottom: 20px;
}
.order-status-div{
    background-color: #12925f;
    /* color: white; */
    display: flex;
    gap: 10px;
    padding:20px;
color:white;
}
.review-item-2{
    width: 97%;
    border: 1px solid #e8dede;
    padding: 20px;
    display: flex;
    justify-content: space-between;
}
.address-item-3{
    border: 1px solid #e8dede;
    width: 97%;
    padding: 20px;
}
.price-item-4{
    border: 1px solid #e8dede;
    width: 97%;
    padding: 20px;
    display: flex;
    justify-content: space-between;
  
}
.order-id-item-5{
    border: 1px solid #e8dede;
    width: 97%;
    padding: 20px;
    margin-bottom: 10px;
}
.comment-div{
    margin-top:10px;
}
.order-status-item-flex{
    display: flex;
    flex-direction: column;
    align-items: baseline;
}
.rating-rev-cont{
    width:97%;
}
.comment-div textarea{
   width:70%;
}
