.product-cont{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    /* width:80%; */
    float:right;
    flex:1;
}
.filter-cont{
    width:15%;
    float:left;
    display: block;
    overflow: auto;
    height: 50vh;
    border-right: 1px solid #dee2e7;
    border-top: 1px solid #dee2e7;
    padding-top: 15px;
    margin-left: 10px;
}
.product-item{
    margin: 37px;

}

.product-item img{
    width: 225px;
    height:300px;
}
.strike-product{
    text-decoration: line-through;
    
}
.discount-text{
    color:red
}
.price-cont{
    display: inline;
}
.font-bold{
    font-weight: bold;
}
.brand-text{
    margin-top: 10px;
}

.vertical-line{
    width: 1px; /* Line width */
    background-color: black; /* Line color */
    height: 100%; /* Override in-line if you want specific height. */
    float: left; /* Causes the line to float to left of content. 
      You can instead use position:absolute or display:inline-block
      if this fits better with your design */
  }

.header-cont{
    display: flex;
    justify-content: space-between;
    width: 87%;
    margin-left: 4%;
    margin-top: 3%;
    margin-bottom: 10px;
}

.header-cont .dropdown{
    width: 14%;

}


.product-cont a{
    text-decoration: none;
    color: black;
  }

  .product-item:hover{
    transform: scale(1.05);
  }

  .allproducts-cont{
    display: flex;
    flex-direction: column;
    box-shadow: 3px 6px 8px 10px #c6c7c857;
    margin-top: 56px;
  }

  .page-cont{
    text-align: center;
  }
  .brand-div{
    height: 30px;
    position: absolute;
    top: 51px;
    left: 300px;
    width: 100%;
    display: flex;
    height:40px;
  }
  .brand-item-cont{
    display: flex;
    justify-content: space-between;
    min-width:90px;
    border:1px solid #d5d4d4;
    border-radius: 25px;
    padding:10px;
    text-align: center;
    margin-right:5px;
  }

  .close-brand-btn{
    cursor: pointer;
    margin-left: 10px;
  }
  
  .product-item #prod-name{
    width: 225px;
  }