.wishlist-item{
    border: 1px solid #cac1c1;
    border-radius: 10px;
    width: 15%;
    text-align: center;
    position: relative;
    display: flex;
    flex-direction: column;
}
.wishlist-item .close-btn{
    position: absolute;
    top: 10px;
    right: 10px;
   
}
.add-to-cart-cont{
    cursor: pointer;
}

.add-to-cart-cont h4{
    color:rgb(53, 162, 235);
    padding: 5px;
}

.wishlist-login-cont{
    text-align: center;
    /* margin-left: auto; */
    /* margin-right: auto; */
    /* width: 50%; */
    /* height: 393px; */
    display: flex;
    /* line-height: 309px; */
    flex-direction: column;
    justify-content: center;
    height: 500px;
    align-items: center;
}
.btn-login
{
    height: 70px;
    width: 114px;
}
.label-msg{
    color: #c6c7c8;

}

.wishlist-login-cont h4{
    margin-bottom: 30px;
}

.wishlist-header{
    padding-left: 20px;
    margin-top: 62px;
}

.wishlist-cont{
    width:100%;
}

.wishlist-img{
width:100% !important;
border-top-left-radius: 10px;
border-top-right-radius: 10px;
}

.wishlist-item-img-cont{
    position: relative;
}
.wishlist-item .item-cont{
    height: 84%;
}